#selectLanguage{
  padding: 20px;
  font-size: 12px;
  color: #d0d0d0;

  a{
    color: #1d1d1d;
    text-decoration: none;

    &.active{
      color: #e20000;
    }
  }
}
aside.main-sidebar{
  background: #3a3a3a;
  color: #FFF;
  ul.nav{
    li.nav-item{
      a.nav-link{
        border-bottom: 1px solid #195206;
        color: #FFF;
        &.active, &:hover{
          -webkit-box-shadow: inset 0.1875rem 0 0 #007bff;
          box-shadow: inset 0.1875rem 0 0 #ffa602;
          background-color: #1c7500;
          color: #ffffff;

          i{
            color: #FFF
          }
        }
      }
    }
  }
}

.table{
  tr{
    td{
      font-weight: normal;

      button{
        margin-bottom: 0 !important;
      }
    }
  }
}