#flexigrid-table{
  position: relative;
}
.title-page{}
.table-load-setting{
  thead{
    th{
      background: #2d4373;
      color: #FFF;
      text-align: center;
      border-left: 1px solid rgb(0, 32, 101);
      border-right: 1px solid rgb(0, 32, 101);
      padding: .5rem;
      border-top: 0;
    }
  }
  tbody{
    tr{
      &.selected{
        td{
          background: rgba(137, 198, 255, 0.48);
        }
      }
      td{
        text-align: center;
      }
    }
  }
}
.table-pagination{}
.loading-content{
  position: absolute;
  background: #ffffffd9;
  padding: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

ul.table-header-button{
  margin: 0;
  padding: 0;
  background: #efefef;
  border: 0px solid #ececec;
  li{
    list-style: none;
    display: inline-block;
    a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: .7rem;
      display: inline-block;
      padding: 10px 15px 10px 10px;
      img{
        vertical-align: middle;
      }
      span{}
      &:hover{
        background: #1a6cc1;
        color: #FFF;
      }
    }
  }
}

.table-footer-pagination{
  background: #f9f9f9;
  text-align: center;
  padding: 20px;
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      display: inline-block;
      a{
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EBEBEB;
        color: #333;
        margin: 3px;
        &:hover{
          background: rgba(26,108,193,0.48);
        }
        &.disabled{
          color: #c1c1c1;
          background: #f2f2f2;
          cursor: not-allowed;
        }
        &.active{
          background: #54c100;
          color: #FFF;
        }
      }
    }
  }
}

.hiddenInput{
  display: none;
  padding: 4px 5px;
  border: 1px solid #00a7f7;
  border-radius: 5px;
}

.hiddenError{
  display: none;
  color: red;
  font-style: italic;
  font-size: .7rem;
  margin-top: 5px;
}
.hiddenButtonPanel{
  display: none;
}