.list-member{}
.list-member li{
    margin-left: -5px !important;
    margin-right: -5px !important;
    border: 1px solid;
    border-radius: 50%;
}


.project-grid-item{
    border-radius: 10px;
    cursor: pointer;
}
.hover-shadow:hover{
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.64);
}

.project-grid-item .panel-content:first-child{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project-grid-item .panel-content:last-child{
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project-grid-item .panel-content .project_image{
    width: 90px;
    overflow: hidden;
    margin: auto;
    height: 90px;
    border-radius: 50%;
}
.project-grid-item .panel-content .project_image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.project-grid-item .panel-content h5{
    font-weight: bold;
    margin-top: 10px;
}
.project-grid-item .panel-content img.member_image {
    width: 30px;
}

ul.recent-activity {
    padding-left: 10px;
}

ul.recent-activity li.activity {
    list-style: circle;
    margin-bottom: 0px;
    padding: 10px;
    border-bottom: 1px dotted #EBEBEB;
    display: list-item;
    font-style: normal;
    color: #333;
    font-size: 12px;
}

ul.recent-activity li.activity .img-circle{
    border: 1px solid #cacaca;
    height: 22px;
    width: 22px;
}

ul.recent-activity li.activity b{
    font-style: normal;
    color: #db5b34;
}

ul.recent-activity li.activity:hover{
    cursor: pointer;
    background: #f9f9f9;
}

ul.recent-activity li.activity:after{
    clear:both;
}
ul.recent-activity li.activity span.content {
    display: block;
    /*
    width: 80%;
    float: left;*/
}

ul.recent-activity li.activity span.time {
    display: block;
    /*
    width: 20%;
    float: right;
    text-align: right;*/
}

span.activity-bagde {
    position: absolute;
    z-index: 999;
    right: 20px;
    background: #ff3c3c;
    display: block;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(47, 47, 47, 0.25);
}

#filter-form .selectize-control.form-control {
    border: none;
    box-shadow: none;
    padding: 0;
    display: initial;
}
#filter-form .selectize-control.form-control:after{
    clear: both;
}

.form-error {
    color: red;
    font-size: 12px;
}
