
div#page {
	width: 690px;
	margin: 0 auto;
	text-align: left;	
	background:url(/images/bg_slide_product.png) no-repeat left center;
	height:220px;overflow:hidden;margin-bottom:0px;
}
div#container {
	padding: 0px 0;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
