#project_name{
    font-weight: bold !important;
    color: #b74c00 !important;
}
.project_detail_member {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
}
.project_detail_member:hover{
    background: aliceblue;
    cursor: pointer;
}

.project_detail_member .img-circle{
    border: 1px solid
}

.project_overview{}
.project_overview li{
    margin-bottom: 5px;
}
.project_overview >li {
    list-style: none;
}
.project_overview ul{
    margin-top: 10px;
}

.project_value{
    font-weight: bold;
    color: black;
}